body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
}

#projects ul {
    list-style-type: square;
}

footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
}
